* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-dosis;
}

ul {
  padding-left: 0;
  list-style: none;
}

input {
  padding: $gutter;
  border: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.container {
  max-width: 60rem;
  margin: auto;
}
