@import 'variables';
@import 'base';


.nav-container {
  background: $brand-dark-blue;
  overflow: auto;
}

.nav-title {
  color: $brand-green;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;

  &__link {
    padding: $gutter / 2 $gutter;
    border-radius: $border-radius;
    background: $brand-light-blue;
  }

  & a {
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
  }
}
