@import 'variables';
@import 'base';
@import 'messages';


.nav-container {
  flex-shrink: 0;
  background: $brand-dark-blue;
}

.nav-title {
  margin: 0;
  color: $brand-green;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  background: $brand-light-blue;

  &__link {
    padding: $gutter / 2 $gutter;
    background: $brand-light-blue;
  }

  & a {
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
  }
}
