<h2 id="title">Chatty McChatterston's Whacky Place to Chat</h2>
{{#link-to "room"}}Main Room{{/link-to}}
{{#link-to "public.login"}}Login{{/link-to}}
{{#link-to "public.signup"}}Sign up{{/link-to}}
{{outlet}}
